
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marat Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>

        <body>
            <div>
        <h1><a href="/">Добро пожаловать на БЛОГ</a></h1>
             </div>

         {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
            <address>
      <strong>Lab 518</strong><br>
      Susar 8, <br>
      Kaskelen, Kazakhstan<br>
      <abbr title="Phone">Phone</abbr> +77028866675<br>
      <abbr title="Telegram">Telegram</abbr> @maratyerken
        </address>

         <address>
      <strong>Marat<strong><br>
      <a href="mailto:#">marat@lab518.com</a>
         </address>
        </body>
</html>

