h1 a {
        color: #FCA205;
    font-family: SansSerif;
    }
body {
        padding-left: 20px;
    }
p {
    display: inline-block;
    margin: 0 0.2em;
    padding: 3px;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    /* Font styles */
    text-decoration: none;
    font-weight: bold;

}
address {
    margin-left: 80%;

}